@font-face {
  font-family: Inconsolata1;
  src: url(fonts/Inconsolata-VariableFont_wdth,wght.ttf);
}

html {
  background-color: black;
  font-family: Inconsolata1;
}

/* animations */
@keyframes fadeOut {
  from {opacity: 100%;}
  to {opacity: 0%;}
}

@keyframes fadeIn {
  from {opacity: 0%;}
  to {opacity: 100%;}
}

/* title */
.title {
  position: absolute;
  text-align: left;
  left: 20px;
  bottom: 10px;
  font-size: 40px;
  font-weight: normal;
  color: white;

}

/* navigator */
.navigator {
  z-index: 1;
  position: absolute;
  width: 10%;
  left: 20px;

  color: white;
  font-size: 1.2em;

}
.nav_item {
  cursor: pointer;
}

.container {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 90vw;
  height: 100%;
  overflow: hidden;

}


/* HOME PAGE BEGIN ========================================== */
#play_button {
  opacity: 50%;
  cursor: pointer;

  width: 5%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#play_button:hover {
  opacity: 80%;
}

#video-container video {
  width: 75vw;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#skip_button {
  position: absolute;
  bottom: 10px;
  right: 25px;
  text-align: right;
  font-size: 1.2em;
  color: white;
  cursor: pointer;
}

#intro-container {
  display: none;
}

.intro-content {
  width: 60%;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  color: white;
  font-size: 1.5em;
}

#explore_button {
  position: absolute;
  bottom: 10px;
  right: 25px;
  text-align: right;
  font-size: 1.2em;
  color: white;
  cursor: pointer;
}

/* HOME PAGE END ========================================== */
/* ROOM PAGE BEGIN ========================================== */

#room-container {
  /* background-color: grey; */
  z-index: 1;
  /* width: 95vw; */
}

#room-images {
  width: 1200px;
  height: 750px;
  /* background-color: black; */
  /* Center the video */
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-35%,-50%);
}

.room-images {
  position: absolute;
  cursor: pointer;
  border: double transparent 6px;
}

.room-images:hover{
  filter: drop-shadow(0 0 0.75rem white);
  border: double white 6px;
  transition-duration: 1000ms;
}

#img1 {
  z-index: 4;
    left:62%;
    top:10%;
}
#img2 {
  z-index: 5;
    left:18%;
    top:40%;
}
#img3 {
  z-index: 5;
    left:17%;
    top:50%;
}
#img4 {
  z-index: 5;
    left:9%;
    top:48%;
}
#img5 {
  z-index: 0;
    left:4%;
    top:25%;
}
#img6 {
  z-index: 2;
    left:35%;
    top:45%;
}
#img7 {
    left:35%;
    top:65%;
}
#img8 {
  z-index: 5;
    left:72%;
    top:28%;
}
#img9 {
  z-index: 5;
    left:72%;
    top:76%;
}
#img10 {
  z-index: 5;
    left:66%;
    top:47%;
}
#img11 {
  z-index: 5;
    left:28%;
    top:48%;
}
#img12 {
  z-index: 1;
    left:32%;
    top:14%;
}
#img13 {
  z-index: 3;
    left:52%;
    top:35%;
}
#img14 {
  z-index: 5;
    left:55%;
    top:25%;
}
#img15 {
  z-index: 5;
    left:54%;
    top:45%;
}
#img16 {
  z-index: 1;
    left:2%;
    top:12%;
}

#descriptions {
  position: absolute;
  left: 90%;
  top: 50%;
  transform: translate(-50%,-50%);

  width: 225px;
  height: 750px;

  padding: 15px;

}

.obj_description{
  position: absolute;
  top: 30%;
  color: white;
  font-size: 1.2em;

  display: none;
}
.obj_name {
  font-size: 1.5em;
  font-weight: bold;
}

.audioBtn {
  cursor: pointer;
}
.audios {
  display: none;
}
